@charset "UTF-8";

:root {
  --background-color-one: rgb(255, 255, 255);
  --background-color-two: rgb(0, 0, 0);
  --dialog-background-color: rgba(0, 0, 0, 0.877);
  --font-color-one: rgb(240, 235, 235);
  --font-color-two: rgb(28, 26, 26);
  --footer-background: rgba(251, 251, 251, 0);
  --background-mask: rgba(0, 0, 0, 0.7);
  --action-button-color: rgb(214, 33, 17);
  --input-background-color: rgba(26, 26, 26, 0.863);
  --input-border-color: rgba(240, 235, 235, 0.831);
  --shadow: -16px 13px 19px -3px rgba(0, 0, 0, 0.122);
}


* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--background-color-one);
}


/* Auxilary classes */

.container {
  width: min(100% - 90px, 1080px);
  margin: 0 auto;
} 


.flex {
  display: flex;
}


.flex-wrap {
  flex-wrap: wrap;
}


.space-around {
  justify-content: space-around;
}


.space-between {
  justify-content: space-between;
}


.center {
  justify-content: center;
  text-align: center;
}


.gap-10 {
  gap: 15px;
}


.gap-40 {
  gap: 40px;
}

@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');


:root {
  --background-color-one: rgb(255, 255, 255);
  --background-color-two: rgb(0, 0, 0);
  --dialog-background-color: rgba(0, 0, 0, 0.877);
  --font-color-one: rgb(240, 235, 235);
  --font-color-two: rgb(28, 26, 26);
  --footer-background: rgba(251, 251, 251, 0);
  --background-mask: rgba(0, 0, 0, 0.7);
  --action-button-color: rgb(214, 33, 17);
  --input-background-color: rgba(26, 26, 26, 0.863);
  --input-border-color: rgba(240, 235, 235, 0.831);
  --shadow: -16px 13px 19px -3px rgba(0, 0, 0, 0.122);
}


* {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: var(--background-color-one);
}


/* Auxilary classes */

.container {
  width: min(100% - 90px, 1080px);
  margin: 0 auto;
} 


.flex {
  display: flex;
}


.flex-wrap {
  flex-wrap: wrap;
}


.space-around {
  justify-content: space-around;
}


.space-between {
  justify-content: space-between;
}


.center {
  justify-content: center;
  text-align: center;
}


.gap-10 {
  gap: 15px;
}


.gap-40 {
  gap: 40px;
}


/*-------------*/
/*---Header----*/
/*-------------*/


header {
  height: 56px;
  width: 100%;
  color: var(--font-color-one);
  line-height: 56px;
  z-index: 3;
  position: absolute;
}


nav {
  display: flex;
}


.logo {
  margin-top: 8px;
  background:#ffffff00 url('../image/showbox-logo.png') center / cover no-repeat;
  background-size: contain;
  width: 150px;
  height: 50px;
  line-height: 56px;
}


header select , .section select{
  width: 120px;
  height: 45px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--input-background-color);
  color: var(--font-color-one);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  padding-left: 8px;
  margin-top: 13px;
  line-height: 56px;

  &:hover {
    text-decoration: none;
  }
}

header .header-button{
  width: 120px;
  height: 45px;
  margin-top: 13px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 5px;
  background-color: var(--action-button-color);
  color: var(--font-color-one);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
  line-height: 26px;

  &:hover {
    text-decoration: none;
  }

}

/*Main*/


main {
  background-color: var(--background-color-one); 
  height: calc(100% - 56px - 156px); 
  overflow: auto;
}


h1 {
  font-size: 45px;
  font-weight: 700;
  color: #000;
  padding: 50px 0px 10px 0px;
}


h1 + p {
  font-size: 18px;
  font-weight: 400;
}


h4, p {
  padding: 5px;
  font-size: 18px;
  font-weight: 300px;
  color: #000;
}